<ion-content no-padding class="no-scroll">
  <div class="x-login">
    <form [formGroup]="emailPasswordForm">
      <div class="x-login-logo"><img src="assets/imgs/logo.png"></div>
      <div class="x-login-content" *ngIf="status!=2">
        <div class="x-login-input-area">
          <ion-input type="email" class="x-login-input" formControlName="email" placeholder="E-mail Address"></ion-input>
        </div>
        <div class="x-login-input-area">
          <ion-input type="password" class="x-login-input" formControlName="password" placeholder="Password"></ion-input>
        </div>
        <div class="x-login-input-area">
          <button ion-button class="x-login-btn" (click)="login()" [disabled]="!emailPasswordForm.valid">이메일로 로그인</button>
        </div>
        <div class="x-login-other" (click)="viewRegister()">아직 계정이 없으신가요? 회원가입하기</div>
      </div>
    </form>

    <form [formGroup]="emailPasswordNicknameForm">
      <div class="x-login-content" *ngIf="status==2">
        <div class="x-login-input-area">
          <ion-input type="email" class="x-login-input" formControlName="email" placeholder="E-mail Address"></ion-input>
        </div>
        <div class="x-login-input-area">
          <ion-input type="text" class="x-login-input" formControlName="nickname" placeholder="Nickname"></ion-input>
        </div>
        <div class="x-login-input-area">
          <ion-input type="password" class="x-login-input" formControlName="password" placeholder="Password"></ion-input>
        </div>
        <div class="x-login-input-area">
          <button ion-button class="x-login-btn" (click)="register()" [disabled]="!emailPasswordNicknameForm.valid">회원가입</button>
        </div>
        <div class="x-login-other" (click)="viewLogin()">이미 계정을 갖고 계신가요? 로그인하기</div>
      </div>
    </form>
  </div>
</ion-content>
