page-chat-room {

//Messages Content for message.html and group.html
div.messages {
    p.center {
      margin-top: 1.25em;
      margin-bottom: 0.5em;
  
      span {
        padding: 0.25em 0.5em;
        //background: $secondary;
        color: #111;
        border-radius: 0.4em;
      }
    }
  
    p.center.activated,
    p.center:active {
      span {
        //background: $secondary-active;
      }
    }
  
    .system {
      text-align: center;
      font-size: 90%;
  
      p {
        background: transparent !important;
        max-width: 90vw;
        //color: $primary;
      }
  
      span {
        margin-top: -0.6em;
        text-align: center !important;
      }
    }
  
    ion-col {
      padding-top: 1em;
  
      img {
        border-radius: 100%;
        width: 3.5em;
        height: 3.5em;
        object-fit: cover;
      }
  
      img.active,
      img:active {
        opacity: 0.5;
      }
  
      p {
        // min-width: auto;
        max-width: 67vw;
        margin-top: 0;
        color: #111;
        padding: 0.5em;
        border-radius: 0.5em;
        margin-bottom: 0.5em;
        //background: $dark-active;
        display: block;
      }
  
      span {
        display: block;
        text-align: left;
        //color: $gray;
        font-size: 85%;
        padding-left: 0.5em;
      }
    }
  
    ion-col.sender {
      p {
        //background: $primary;
      }
  
      span {
        text-align: right;
        padding-left: 0.5em;
      }
    }
  
    div.right {
      p {
        display: inline-block !important;
        float: right;
      }
  
      span {
        float: right;
        clear: right !important;
        display: inline-block;
      }
    }
  
    div.left {
      float: left;
      text-align: left;
    }
  
    div.left,
    div.right {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.75em;
      }
    }
  }
  
  //Footer Bar for message.html and group.html
  ion-footer.footer {
    background-image: url('../assets/images/background.png');
    background-position: initial initial;
    background-repeat: initial initial;
  }
  
  .bottom_bar {
    background: rgba(0, 0, 0, 0.3) !important;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  
    ion-input {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      font-size: 110%;
      border-radius: 0.75em;
      color: #fff;
    }
  
    ion-fab button,
    ion-fab button.activated {
      background: transparent !important;
    }
  
    ion-fab button.activated ion-icon {
      opacity: 0.5 !important;
    }
  
    ion-fab button ion-icon {
      font-size: 2em !important;
      //color: $primary;
    }
  }
}
