<ion-header no-border class="feed-header">
  <ion-navbar color="x-mint" hideBackButton>
    <ion-buttons left>
      <button ion-button><ion-icon name="flaticon-cross-1" color="x-mint"></ion-icon></button>
    </ion-buttons>
    <ion-title *ngIf="menu">{{menu.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="boardlistClose()"><ion-icon name="flaticon-cross-1" color="x-white"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding #myContent>
    <ion-segment class="x-category" color="x-white" mode="md" *ngIf="menu && menu.submenu.length > 1" [(ngModel)]="segment_category">
      <ion-segment-button class="x-category-btn" *ngFor="let category of menu.submenu" value="{{category.name}}" (ionSelect)="test()"> {{category.name}}</ion-segment-button>
    </ion-segment>

  <div>
    <ion-grid no-padding>
      <ion-row class="x-search">
        <ion-col col-12>
          <div class="x-search-box">
            <div class="x-search-left">
              <select class="x-search-select">
                <ng-container *ngFor="let categories of categoryItem">
                  <option *ngIf="categories.type == segment_category">{{categories.name}}</option>
                </ng-container>
              </select>
            </div>
            <div class="x-search-center"><ion-input type="text" class="x-search-input"></ion-input></div>
            <div class="x-search-right">
              <button ion-button class="x-search-btn"><ion-icon name="flaticon-search-1" color="x-white"></ion-icon></button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="x-list" no-padding >
      <ion-row class="x-list-title">
        <ion-col col-12>인기글</ion-col>
      </ion-row>
      <ion-row class="x-list-row" (click)="boardView()">
        <ion-col col-12 class="x-list-col">
          <span class="x-list-rank x-rank1"><ion-icon name="flaticon-gold-medal"></ion-icon></span>
          <span class="x-list-label">免费主题&nbsp;&nbsp;</span>住在韩国是非常困难的. 给我一些建议. 住在韩国是非常困难的. 给我一些建议.</ion-col>
      </ion-row>
      <ion-row class="x-list-row" (click)="boardView()">
        <ion-col col-12 class="x-list-col">
          <span class="x-list-rank x-rank2"><ion-icon name="flaticon-silver-medal"></ion-icon></span>
          <span class="x-list-label">免费主题&nbsp;&nbsp;</span>我卖了一次我使用过的香奈儿化妆品.</ion-col>
      </ion-row>
      <ion-row class="x-list-row" (click)="boardView()">
        <ion-col col-12 class="x-list-col">
          <span class="x-list-rank x-rank3"><ion-icon name="flaticon-bronze-medal"></ion-icon></span>
          <span class="x-list-label">免费主题&nbsp;&nbsp;</span>我卖了一次我使用过的香奈儿化妆品.</ion-col>
      </ion-row>
      <ion-row class="x-list-row x-list-ctg">
        <ion-col col-3 text-center>종합인기</ion-col>
        <ion-col col-3 text-center>추천많은</ion-col>
        <ion-col col-3 text-center>조회많은</ion-col>
        <ion-col col-3 text-center>댓글많은</ion-col>
      </ion-row>
    </ion-grid>
  <div [ngSwitch]="segment_category">
    <ion-grid class="x-list" no-padding *ngSwitchCase="'FREE'">
     
      <ion-row class="x-list-title">
        <ion-col col-12>일반게시글</ion-col>
      </ion-row>
      <div *ngFor="let post of posts">
        <ion-row class="x-list-row" *ngIf="post.payload.val().wr_category=='FREE'" (click)="boardView(menu ,post.payload.key)">
          <ion-col col-12 class="x-list-col">
            <span class="x-list-label">{{post.payload.val().wr_category}}</span>&nbsp;&nbsp;{{post.payload.val().wr_title}}&nbsp;
            <span class="x-list-ico"><ion-icon name="flaticon-interface"></ion-icon></span>&nbsp;<span class="x-list-count">{{post.comment_count}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>


    

  
  
    <!-- 중고거래 & 집거래-->
    <div class="x-photolist-container" *ngIf="menu == 'LIFE' && (category == 'USED'||category == 'ESTATE')">
      <div class="x-photolist-title" *ngIf="category=='USED'">중고거래 목록</div>
      <div class="x-photolist-title" *ngIf="category=='ESTATE'">주거매매 목록</div>
      <div *ngFor="let post of posts">
        <div class="x-photolist" *ngIf="post.payload.val().wr_category==category" (click)="boardView(menu,post.payload.key)">
          <div class="x-photolist-left"><img src="assets/imgs/user_001.jpg"></div>
          <div class="x-photolist-right">
            <div class="x-photolist-contents"><span class="x-photolist-category">{{post.payload.val().wr_inner}}&nbsp;&nbsp;</span>{{post.payload.val().wr_title}}</div>
            <div class="x-photolist-info-date"><ion-icon name="flaticon-clock" class="x-photolist-info-icon"></ion-icon>&nbsp;2018-02-16</div>
            <div class="x-photolist-info-comment"><ion-icon name="flaticon-interface" class="x-photolist-info-icon"></ion-icon>&nbsp;{{post.comment_count}}</div>
            <div class="x-photolist-info-view"><ion-icon name="flaticon-medical" class="x-photolist-info-icon"></ion-icon>&nbsp;{{post.payload.val().wr_views}}</div>
          </div>
        </div>  
      </div>
    </div>
    
    <!-- 구인구직 -->
    <ion-grid class="x-list" no-padding *ngIf="menu == 'LIFE' && category == 'JOB'">
      <ion-row class="x-list-title">
        <ion-col col-12>구인구직 목록</ion-col>
      </ion-row>
      <div *ngFor="let post of posts">
        <ion-row class="x-list-row"  *ngIf="post.payload.val().wr_category=='JOB'" (click)="boardView(menu,post.payload.key)">
          <ion-col col-12 class="x-list-col">
            <span class="x-list-label">{{post.payload.val().wr_category}}</span>&nbsp;&nbsp;{{post.payload.val().wr_title}}&nbsp;
            <span class="x-list-ico"><ion-icon name="flaticon-interface"></ion-icon></span>&nbsp;<span class="x-list-count">{{post.comment_count}}</span>
          </ion-col>
        </ion-row>
      </div>  
    </ion-grid>
    

  </div>
      
  </div>

  <ion-fab class="x-float-button" >
      <button ion-fab color="x-mint" (click)="boardWrite(menu.name);"><ion-icon name="flaticon-edit" color="x-white"></ion-icon></button>
  </ion-fab>
    
</ion-content>
  