page-boardwrite {
    ion-content {
        background-color:map-get($colors,x-gray-bg) !important;
    }  
    .bw-top {
        width:fit-content;height:fit-content;background-color:map-get($colors,x-white);margin:3vw;
    }
    .bw-title {
        width:94vw!important;
        height:10vw!important;
        padding:1vw 2vw 0 2vw!important;
        font-size:4vw;color:map-get($colors,x-gray-dark);
    }
    .bw-content {
        width:94vw;height:94vw;background-color:map-get($colors,x-white);margin:3vw;
    }
    .bw-textarea {
        height:94vw;
    }
}
