<ion-header no-border>
  <ion-navbar color="x-mint">
    <ion-title text-center>내정보</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="x-profile">
    <div class="x-profile-title">
      <div class="x-profile-title-txt">기본정보</div>
      <div class="x-profile-title-icon"><ion-icon name="flaticon-settings" (click)="presentModal('ProfileModifyPage')"></ion-icon></div>
    </div>
    <div class="x-profile-photo">
      <img src="assets/img/noavatar.png" *ngIf="!user.photoURL"/>
      <img src="{{user.photoURL}}"  *ngIf="user.photoURL"/>
    </div>
    <div class="x-profile-info">
      <div class="x-profile-info-nickname">{{user.displayName}}</div>
      <div class="x-profile-info-email">{{user.email}}</div>
      <div class="x-profile-info-regtime">가입일자 : 2018-02-22 19:50</div>
      <div class="x-profile-info-lastlogin">최종접속 : 2018-02-22 19:50</div>
    </div>
  </div>
  <div class="x-heart">
    <div class="x-heart-title">
      <div class="x-heart-title-txt">하트정보</div>
      <div class="x-heart-title-icon"><ion-icon name="flaticon-settings" (click)="presentModal('HeartPage')"></ion-icon></div>
    </div>
    <div class="x-heart-info">
      <div class="x-heart-normal"><ion-icon name="flaticon-hearts"></ion-icon></div>
      <div class="x-heart-info-label">현재보유</div>
      <div class="x-heart-info-cnt">2000</div>
    </div>
    <div class="x-heart-info">
      <div class="x-heart-special"><ion-icon name="flaticon-hearts"></ion-icon></div>
      <div class="x-heart-info-label">현재보유</div>
      <div class="x-heart-info-cnt">2000</div>
    </div>
  </div>
  <div class="x-menu">
    <div class="x-menu-btn" (click)="presentModal('NoticePage')">
      <div class="x-menu-btn-icon"><ion-icon name="flaticon-exclamation"></ion-icon></div>
      <div class="x-menu-btn-txt">공지사항</div>
    </div>
    <div class="x-menu-btn" (click)="locateCustomerServiceEmail()">
      <div class="x-menu-btn-icon"><ion-icon name="flaticon-round"></ion-icon></div>
      <div class="x-menu-btn-txt">고객센터</div>
    </div>
    <div class="x-menu-btn" (click)="openPage('ProfileSettingsPage')">
      <div class="x-menu-btn-icon"><ion-icon name="flaticon-settings"></ion-icon></div>
      <div class="x-menu-btn-txt">환경설정</div>
    </div>
  </div>  
  <div class="x-menu-btn" (click)="logout()">
    <div class="x-menu-btn-icon"><ion-icon name="flaticon-settings"></ion-icon></div>
    <div class="x-menu-btn-txt">로그아웃</div>
  </div>
</ion-content>