<ion-content no-padding class="chat-loading">
    <ion-grid no-padding class="x-chat-location">
        <ion-row>
        <ion-col col-4 text-right class="x-chat-location-user"><ion-icon name="flaticon-user-4"></ion-icon></ion-col>
        <ion-col col-4>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </ion-col>
            <ion-col col-4 text-left class="x-chat-location-target"><ion-icon name="flaticon-user-4"></ion-icon></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 text-center class="x-chat-location-explain">{{explain}}<br>매칭 시 대화가 자동으로 시작됩니다.</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 text-center *ngIf="searchState==1">
                <button ion-button class="x-chat-location-cancel" (click)="startSearching()">검색시작</button>
            </ion-col>
            <ion-col col-12 text-center *ngIf="searchState==0">
                <button ion-button class="x-chat-location-cancel" (click)="stopSearching()">검색중지</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>