<!--
  Generated template for the ChatListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>chat-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

    <div text-center class="empty" *ngIf="(conversations)?.length == 0">
        <ion-icon name="icon-empty-02"></ion-icon>
        <h2><b>{{ 'chats.main.empty.noconversation.title' | translate }}</b></h2>
        <p>{{ 'chats.main.empty.noconversation.text' | translate }}</p>
      </div>
      <ion-list>
        <ion-item no-lines *ngFor="let conversation of conversations " tappable (click)="chat(conversation.conversationId)">
          <ion-badge item-right color="danger">{{ getUnreadMessages(conversation.conversationId, conversation.messages) }}</ion-badge>
          <ion-avatar item-start *ngIf="partners.get(conversation.conversationId)">
              <img src="{{ partners.get(conversation.conversationId).payload.val().profileImg }}" >
          </ion-avatar>
          <h2 text-uppercase *ngIf="partners.get(conversation.conversationId)"><span>{{ partners.get(conversation.conversationId).payload.val().username }}</span><span text-lowercase>{{ getLastMessageDate(conversation.messages)  | DateFormat }}</span></h2>
          <p text-wrap *ngIf="partners.get(conversation.conversationId)">{{ getLastMessage(conversation.messages) }}</p>
        </ion-item>
      </ion-list>
      <!-- No conversations yet -->
      <div text-center class="empty" *ngIf="!conversations">
        <ion-icon name="icon-empty-03"></ion-icon>
        <h2><b>{{ 'chats.main.empty.noconversations.title' | translate }}</b></h2>
        <p>{{ 'chats.main.empty.noconversations.text' | translate }}</p>
        <!-- <button ion-button color="dark" (click)="compose()" [disabled]="!network.online()"><b>{{ 'chats.main.empty.noconversations.button' | translate }}</b></button> -->
      </div>

</ion-content>
