<ion-content no-padding>
  <ion-grid no-padding class="x-contest-top">
    <ion-row text-center>
      <ion-col col-12><div class="x-contest-icon"><ion-icon name="flaticon-hearts"></ion-icon></div></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><div class="x-contest-status">후보모집중</div></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><div class="x-contest-title">美男美女</div></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><div class="x-contest-time">2月 19日 9時 ~ 2月 19日 18時</div></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding class="x-contest-center">
    <ion-row>
      <ion-col col-12>
        <ion-slides spaceBetween="-120">
          <ion-slide *ngFor="let participent of participents; let i = index;">
            <ion-grid no-padding class="x-contest-minicard" (click)="openProfile()">
              <ion-row>
                <ion-col col-12>
                  <div class="x-contest-minicard-detail">
                    <div class="x-contest-mini-photo">
                      <img src="assets/imgs/user_001.jpg">
                    </div>
                    <div class="x-contest-mini-profile">
                      <div class="x-contest-mini-num" >후보 1</div>
                      <div class="x-contest-mini-nickname">NICKNAME</div>
                      <div class="x-contest-mini-birth">1994.03.03</div>
                      <div class="x-contest-mini-time"></div>
                      <div class="x-contest-mini-btn">상세보기</div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-segment class="x-contest-stage" mode="md" [(ngModel)]="contestProgress">
          <ion-segment-button value="join">후보모집</ion-segment-button>
          <ion-segment-button value="round1">1라운드</ion-segment-button>
          <ion-segment-button value="round2">2라운드</ion-segment-button>
          <ion-segment-button value="round3">3라운드</ion-segment-button>
          <ion-segment-button value="final">최종결과</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div [ngSwitch]="contestProgress">
    <ion-grid no-padding class="x-contest-contents" *ngSwitchCase="'join'">
      <ion-row>
        <ion-col col-12 *ngIf="candidate">
          <div class="x-contest-ready-icon"><ion-icon name="flaticon-clock"></ion-icon></div>
          <div class="x-contest-ready-txt" *ngIf="numOfFemale != 8">후보를 모집중입니다.({{candidate.length}}) 여성{{lastContest.val().numOfFemale}}</div>
          <div class="x-contest-apply" (click)="openApply()" *ngIf="candidate.indexOf(user.key) == -1">후보 지원</div>
          <div class="x-contest-apply" (click)="cancelApply()" *ngIf="candidate.indexOf(user.key) != -1">지원 완료</div>
         
          <!-- <div class="x-contest-ready-txt" *ngIf="numOfFemale == 8">후보 모집이 마감됐습니다.({{numOfFemale}}/8)</div>
          <div class="x-contest-apply" *ngIf="numOfFemale == 8">지원 마감</div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid no-padding class="x-contest-contents" *ngSwitchCase="'round1'">
      <ion-row class="x-contest-substage-content">
        <ion-col col-12>
          <ion-slides slidesPerView="1">
            <ion-slide>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col col-12>
                    <div class="x-contest-substage-match">그룹 1</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="x-contest-substage-card">
                      <div class="x-contest-substage-photo" (click)="openProfile()"><img src="assets/imgs/user_001.jpg"/></div>
                      <div class="x-contest-substage-num">후보 1</div>
                      <div class="x-contest-substage-nickname">NICKNAME</div>
                      <div class="x-contest-substage-birth">1994.02.02</div>
                      <div class="x-contest-substage-hearts"><ion-icon name="flaticon-hearts"></ion-icon>&nbsp;1850</div>
                      <div class="x-contest-substage-btn" (click)="openVote()">투표하기</div>
                    </div>
                    <div class="x-contest-substage-card">
                        <div class="x-contest-substage-photo" (click)="openProfile()"><img src="assets/imgs/user_002.jpg"/></div>
                        <div class="x-contest-substage-num">후보 2</div>
                        <div class="x-contest-substage-nickname">NICKNAME</div>
                        <div class="x-contest-substage-birth">1994.02.02</div>
                        <div class="x-contest-substage-hearts"><ion-icon name="flaticon-hearts"></ion-icon>&nbsp;1849</div>
                        <div class="x-contest-substage-btn" (click)="openVote()">투표하기</div>
                      </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <ion-slide>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col col-12>
                    <div class="x-contest-substage-match">그룹 2</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="x-contest-substage-card">
                      <div class="x-contest-substage-photo"><img src="assets/imgs/user_003.jpg"/></div>
                      <div class="x-contest-substage-num">후보 3</div>
                      <div class="x-contest-substage-nickname">NICKNAME</div>
                      <div class="x-contest-substage-birth">1994.02.02</div>
                      <div class="x-contest-substage-hearts"><ion-icon name="flaticon-hearts"></ion-icon>&nbsp;1850</div>
                      <div class="x-contest-substage-btn">투표하기</div>
                    </div>
                    <div class="x-contest-substage-card">
                        <div class="x-contest-substage-photo"><img src="assets/imgs/user_004.jpg"/></div>
                        <div class="x-contest-substage-num">후보 4</div>
                        <div class="x-contest-substage-nickname">NICKNAME</div>
                        <div class="x-contest-substage-birth">1994.02.02</div>
                        <div class="x-contest-substage-hearts"><ion-icon name="flaticon-hearts"></ion-icon>&nbsp;1849</div>
                        <div class="x-contest-substage-btn">투표하기</div>
                      </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid no-padding class="x-contest-contents" *ngSwitchCase="'round2'">
      <ion-row>
        <ion-col col-12>
          <div class="x-contest-ready-icon"><ion-icon name="flaticon-clock"></ion-icon></div>
          <div class="x-contest-ready-txt">2라운드</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid no-padding class="x-contest-contents" *ngSwitchCase="'round3'">
      <ion-row>
        <ion-col col-12>
          <div class="x-contest-ready-icon"><ion-icon name="flaticon-clock"></ion-icon></div>
          <div class="x-contest-ready-txt">3라운드</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid no-padding class="x-contest-contents" *ngSwitchCase="'final'">
      <ion-row>
        <ion-col col-12>
          <div class="x-contest-ready-icon"><ion-icon name="flaticon-clock"></ion-icon></div>
          <div class="x-contest-ready-txt">최종결과</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>