
<ion-header no-border>
  <ion-navbar color="x-mint" hideBackButton>
    <ion-title color="top-text">{{ 'TAB2_TITLE' | translate }}</ion-title>
    <ion-buttons left *ngIf="user">
        <button ion-button class="text-on-bottom"  (click)="navCtrl.push('PurchasePage')">
           
          <ion-icon name="flaticon-like-1" color="x-white"></ion-icon><span class="heart-value">{{user.payload.val().heart}}</span>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
            </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="users">

        <ion-item-group>
            <ion-item-divider color="light">{{ 'userlist.requestreceived.title' | translate }}</ion-item-divider>
            <ion-item *ngFor="let request of requestsReceived" tappable>
                <ion-avatar item-left>
                    <img-loader src=" {{request.payload.val().profileImg}}" tappable ></img-loader>
                </ion-avatar>
                <span class="nickname">{{ request.payload.val().username }}</span>
                <span class="distance">{{ request.payload.val().lastLogin | DateFormat }}</span><br>
                <span class="introduce">{{ request.payload.val().bio }}</span>
                <span class="conversation"  item-right><ion-icon name="flaticon-chat" color="x-mint" (click)="acceptFriendRequest(request)"></ion-icon></span>
            </ion-item>
            
        </ion-item-group>


        <ion-item-group>
            <ion-item-divider color="light">{{ 'userlist.latestuser.title' | translate}} <button item-right>{{ 'userlist.button.latest' | translate }}</button></ion-item-divider>
            <ion-item *ngFor="let lastestUser of users | slice:0:usersToShow" tappable [hidden]="excludedIds.indexOf(lastestUser.key) != -1">
                <ion-avatar item-left>
                    <img-loader src=" {{lastestUser.payload.val().profileImg}}" tappable ></img-loader>
                
                </ion-avatar>

                <span class="nickname">{{ lastestUser.payload.val().username }}</span>
                <span class="distance">{{ lastestUser.payload.val().lastLogin | DateFormat }}</span>
                <span class="introduce">{{ lastestUser.payload.val().bio }}</span>
               
                <ion-icon name="flaticon-chat" item-right (click)="presentAlert(1, lastestUser)" *ngIf="getRequestStatus(lastestUser) == 0" color="x-mint" ></ion-icon>
                <ion-icon name="close" item-right (click)="cancelFriendRequest(lastestUser)" *ngIf="getRequestStatus(lastestUser) == 1" color="x-mint" ></ion-icon>
                <ion-icon name="heart-outline" item-right (click)="presentAlert(0, lastestUser)" color="x-mint" ></ion-icon>

                </ion-item>
        </ion-item-group>
   

        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="users?.length > usersToShow">
            <ion-infinite-scroll-content loadingSpinner="none"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
