

  <ion-header no-border>
    <ion-navbar color="x-mint">
      <ion-title text-center>{{ 'auth.nav.title.profile' | translate }}</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content [ngClass]="{'android': android}">
    <div class="profile" *ngIf="user" text-center>
      <img src="{{ user.profileImg }}" (click)="setPhoto()"> 
      <!-- <img-loader [src]="user.photo" tappable (click)="setPhoto()" *ngIf="user"></img-loader> -->
    </div>
    <div class="form">
      <form [formGroup]="profileForm">
        <ion-list>
          <ion-item no-lines margin-bottom>
            <ion-input type="text" formControlName="username" [placeholder]="translate.get('auth.form.username')"></ion-input>
          </ion-item>
          <p text-center *ngIf="(profileForm.controls.username.hasError('required') || !profileForm.controls.username.valid) && hasError">{{ 'auth.form.error.username' | translate }}</p>
          <p text-center *ngIf="!uniqueUsername && profileForm.controls.username.valid && hasError">{{ 'auth.form.error.exists' | translate }}</p>
          <ion-item no-lines margin-bottom>
            <ion-input type="text" formControlName="email" [placeholder]="translate.get('auth.form.email')"></ion-input>
          </ion-item>
          <p text-center *ngIf="(profileForm.controls.email.hasError('required') || !profileForm.controls.email.valid) && hasError">{{ 'auth.form.error.email' | translate }}</p>
          <ion-item no-lines margin-bottom class="textarea">
            <ion-textarea type="text" formControlName="bio" [placeholder]="translate.get('auth.form.bio')" fz-elastic rows="3"></ion-textarea>
          </ion-item>
          <p text-center *ngIf="profileForm.controls.bio.hasError('required') && hasError">{{ 'auth.form.error.bio' | translate }}</p>
          
        </ion-list>
      </form>
    </div>
    <div class="toggle">
      <ion-list>
        <ion-list-header>
          <b>{{ 'auth.profile.notifications' | translate }}</b>
        </ion-list-header>
        <ion-item no-lines>
          <ion-label>{{ 'auth.profile.push' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="hasPushToken" color="x-gray-category"></ion-toggle>
        </ion-item>
        <div text-center>
          <button ion-button (click)="updateProfile()" class="profile_save_btn"><b>{{ 'auth.button.save' | translate }}</b></button>
          <button ion-button (click)="logout()" class="profile_logout_btn"><b>{{ 'auth.button.logout' | translate }}</b></button>
        </div>
      </ion-list>
    </div>
  </ion-content>
  